[web]
%{ for index, dns in web_dns ~}
${dns} ansible_host=${web_ip[index]}
%{ endfor ~}

[lb]
%{ for index, dns in lb_dns ~}
${dns} ansible_host=${lb_ip[index]}
%{ endfor ~}

[ng-hosts:children]
web
lb